@font-face {
    font-family: 'GBatang';
    src: url('Batang_Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'GBatang';
    src: url('Batang_Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}